@page
@model LoginModel

@{

}

 <div class="bg-white border rounded-5">

    <section class="w-100">
      <style>
        .divider:after,
        .divider:before {
          content: "";
          flex: 1;
          height: 1px;
          background: #eee;
        }

        .h-custom {
          height: calc(100% - 73px);
        }
      </style>
      <div class="container-fluid h-custom">
<div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
            <img style="height:30rem;" src="~/images/login.png"
              class="img-fluid">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
            <form method="post" id="account">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Bunla daxil olun</p>
                <button style="background-color:#1D7C9A !important" type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button style="background-color:#1D7C9A !important" type="button" class="btn btn-primary btn-floating mx-1">
                  <i  class="fab fa-twitter"></i>
                </button>

                <button style="background-color:#1D7C9A !important" type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </button>
              </div>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Və ya</p>
              </div>

              <div asp-validation-summary="ModelOnly" class="text-danger"></div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">İstifadəçi adı</label> 
                <input type="text" id="form3Example3" class="form-control form-control-lg" asp-for="Input.Email"
                  placeholder="İstifadəçi adınızı daxil edin" />

                  <span asp-validation-for="Input.Email" class="text-danger"></span>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Şifrə</label>
                <input type="password" id="form3Example4" class="form-control form-control-lg" asp-for="Input.Password"
                  placeholder="Şifrənizi daxil edin" />
                  <span asp-validation-for="Input.Password" class="text-danger"></span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                  <label class="form-check-label" for="form2Example3">
                    Xatırla
                  </label>
                </div>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;background-color:#1D7C9A">Daxil ol</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Hesabınız yoxdur? <a asp-area="Identity" asp-page="/Account/Register"
                    class="link-danger">Qeydiyyatdan keç</a></p>
              </div>
            </form>
                    @Html.Raw(@ViewBag.Alert)
          </div>
        </div>

        </div>
        @section Scripts {
                <partial name="_ValidationScriptsPartial" />
}
